@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "react-day-picker/style.css";

.rdp-root {
--rdp-animation_duration: 0.2s
}
.rdp-caption_label {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,

select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: #e2e8f0; /* text-slate-200 */
  transition: background-color 9999s ease-in-out 0s;
}

@theme {
  --font-primary: "Inter";
}
